# Android Emulator accesses the Function App running on Windows through 10.0.2.2.
VITE_INBOX_API_URL=http://10.0.2.2:7071/api/inbox/a9cea60dda62442e
VITE_TODAY_TASKS_API_URL=http://10.0.2.2:7071/api/today-tasks/65aa9c24486c4e8a
VITE_XP_PROGRESS_API_URL=http://10.0.2.2:7071/api/task-xp/REPLACE_WITH_RANDOM_SEGMENT/progress
VITE_ROUTINE_TASKS_API_URL=http://10.0.2.2:7071/api/routine-tasks/REPLACE_WITH_DIFFERENT_RANDOM_SEGMENT
